[submodule "Ice"]
	path = Ice
	url = https://github.com/jordanbaird/Ice.git
[submodule "AltTab"]
	path = AltTab
	url = https://github.com/lwouis/alt-tab-macos.git
[submodule "MiddleClick"]
	path = MiddleClick
	url = https://github.com/artginzburg/MiddleClick.git
[submodule "Rectangle"]
	path = Rectangle
	url = https://github.com/rxhanson/Rectangle.git
[submodule "AutoMute"]
	path = AutoMute
	url = https://github.com/yonilevy/automute.git
[submodule "Maccy"]
	path = Maccy
	url = https://github.com/p0deje/Maccy.git
[submodule "Amethyst"]
	path = Amethyst
	url = https://github.com/ianyh/Amethyst.git
[submodule "TeXShop"]
	path = TeXShop
	url = https://github.com/TeXShop/TeXShop.git
[submodule "Transmission"]
	path = Transmission
	url = https://github.com/transmission/transmission.git
[submodule "Battery-Toolkit"]
	path = Battery-Toolkit
	url = https://github.com/mhaeuser/Battery-Toolkit.git
[submodule "AlDente"]
	path = AlDente
	url = https://github.com/AppHouseKitchen/AlDente-Charge-Limiter.git
